<html>
<head>
    <title>KiCad Component Database</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/general.css">

    <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/libs/moment.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-moment.min.js"></script>
    <script type="text/javascript" src="js/libs/paper.js"></script>
    <script type="text/javascript" src="js/libs/materialize.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-materialize.min.js"></script>

    <!-- application initialization -->
    <script type="text/javascript" src="js/app.js"></script>

</head>
<body ng-app="kcdb" ng-controller="BodyController" ng-cloak>

  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo"><i class="material-icons">memory</i> KiCad Component DB</a>
      <ul class="right hide-on-med-and-down">
        <li ng-class="{active: page == 'search'}"><a ng-click="changePage('search')"><i class="material-icons">search</i></a></li>
        <li ng-class="{active: page == 'sources'}"><a ng-click="changePage('sources')"><i class="material-icons">cloud_download</i></a></li>
      </ul>
      <a data-activates="nav-mobile"  data-sidenav="left" data-menuwidth="500" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <li><a ng-click="changePage('search')">Search</a></li>
    <li><a ng-click="changePage('sources')">Sources</a></li>
  </ul>


    <div>
      <div ng-show="page=='search'" ng-controller="SearchController">
        <div class="loader"><div ng-show="loading" class="progress"><div class="indeterminate"></div></div></div>
        <blockquote ng-show="error"><h5>Error</h5>
          <ul class="collection">
            <li class="collection-item"><b>Error code</b>: {{ec()}}</li>
            <li class="collection-item"><b>Explanation</b>: {{exp()}}</li>
            <li class="collection-item"><b>The server said</b>: {{error.data}}{{error.reason}}</li>
          </ul>
        </blockquote>

        <div class="section" style="padding: 0px 15px;">
          <div class="fields-container">
            <div class="row" style="margin-bottom: 2px;">
              <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input id="searchInput" type="text" ng-model="searchQ" placeholder="try 'SOT-23 pin_count=3'"
                       ng-keyup="$event.keyCode == 13 && search(searchQ)">
              </div>
            </div>
          </div>

          <div ng-show="results.length">
            <table>
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Attr</th>
                    <th>Tags</th>
                    <th>Pins</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="r in results">
                  <td>
                    <a href="/footprint/{{r.url}}?fpid={{r.uid}}">{{r.name}}</a>
                    <span ng-if="showTag(r.source_uid)" class="tag-source tag-secondary">{{sources[r.source_uid].tag}}</span>
                  </td>
                  <td ng-bind="r.attr"></td>
                  <td ng-bind="r.tags"></td>
                  <td ng-bind="r.pin_count"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div ng-show="page=='sources'" ng-controller="SourcesController">
        <div class="loader"><div ng-show="loading" class="progress"><div class="indeterminate"></div></div></div>
        <div class="section" style="padding: 0px 15px;">
          <h4>Sources</h4>

          <div ng-show="ingest_status">
            <p>The ingestor is scheduled to enumerate the next repository
              <span ng-if="!ingestScheduledNow(ingest_status.next_ingest)"><span am-time-ago="ingest_status.next_ingest"></span>.</span>
              <span ng-if="ingestScheduledNow(ingest_status.next_ingest)">soon.</span></p>

            <p>Is there a github repository with awesome parts missing? <a href="https://github.com/twitchyliquid64/kcdb/issues/new">Let us know!</a></p>

            <table>
              <thead>
                <tr>
                    <th>#</th>
                    <th>URL</th>
                    <th>Kind</th>
                    <th>Last updated</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="source in sources">
                  <td>{{source.uid}}</td>
                  <td>{{source.url}}</td>
                  <td>{{source.kind}}</td>
                  <td>
                    <span am-time-ago="source.updated_at" ng-if="hasUp(source.updated_at)"></span>
                    <span ng-if="!hasUp(source.updated_at)">Never</span>
                    <span ng-if="isNext(source.uid)">
                      <span class="badge" style="position: static;">next ingest</span>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
</body>
</html>
