<html>
<head>
    <title>KiCad Component Database</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/general.css">

    <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="/js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/js/libs/angular.min.js"></script>
    <script type="text/javascript" src="/js/libs/moment.min.js"></script>
    <script type="text/javascript" src="/js/libs/angular-moment.min.js"></script>
    <script type="text/javascript" src="/js/libs/paper.js"></script>
    <script type="text/javascript" src="/js/libs/materialize.min.js"></script>
    <script type="text/javascript" src="/js/libs/angular-materialize.min.js"></script>
    <script type="text/javascript" src="/js/libs/three.min.js"></script>
    <script type="text/javascript" src="/js/libs/threestats.min.js"></script>
    <script type="text/javascript" src="/js/libs/three.trackballcontrols.js"></script>
    <script type="text/javascript" src="/js/libs/filesaver.min.js"></script>


    <!-- application initialization -->
    <script type="text/javascript" src="/js/app.js"></script>

</head>
<body ng-app="kcdb" ng-cloak ng-controller="SymbolViewController">

  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo"><i class="material-icons">memory</i> <b>KiCad Component DB</b></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/?query={{query | escape}}"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>

    <div>

      <div class="section" style="padding: 6px 15px;">
        <div class="loader"><div ng-show="loading" class="progress"><div class="indeterminate"></div></div></div>
        <h4><b>Symbol view</b></h4>
        <blockquote ng-show="error"><h5>Error</h5>
          <ul class="collection">
            <li class="collection-item"><b>Error code</b>: {{ec()}}</li>
            <li class="collection-item"><b>Explanation</b>: {{exp()}}</li>
            <li class="collection-item"><b>The server said</b>: {{error.data}}{{error.reason}}</li>
          </ul>
        </blockquote>

        <div class="row">
          <div class="col s8">
            <div class="row">
              <h5>Pins</h5>
              <div class="row">
                <div ng-repeat="p in symbol.pins" class="col s3">
                  <svg height="30" width="30">
                    <circle cx="50%" cy="50%" r="10" stroke="black" stroke-width="1" fill="none" />
                    <text x="50%" y="55%" alignment-baseline="middle" text-anchor="middle" fill="red">{{p.num}}</text>
                    <line x1="0" y1="50%" x2="5" y2="50%" style="stroke:rgb(0,0,0);stroke-width:2" ng-if="p.orientation=='L'" />
                    <line x1="100%" y1="50%" x2="25" y2="50%" style="stroke:rgb(0,0,0);stroke-width:2" ng-if="p.orientation=='R'" />
                    <line x1="50%" y1="0" x2="50%" y2="5" style="stroke:rgb(0,0,0);stroke-width:2" ng-if="p.orientation=='U'" />
                    <line x1="50%" y1="25" x2="50%" y2="30" style="stroke:rgb(0,0,0);stroke-width:2" ng-if="p.orientation=='D'" />
                  </svg>
                  <span style="position:relative; top: -10px;">{{p.name}}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <h5>Attributes</h5>
              <ul class="collection">
                <li ng-repeat="f in symbol.fields" class="collection-item" ng-if="f.value && f.kind!=0 && f.kind!=1">
                  <span class="badge blue white-text" ng-if="f.kind==2">Recommended footprint</span>
                  <span class="badge blue white-text" ng-if="f.kind==3">Datasheet</span>
                  {{f.value}} <sub ng-if="f.kind!=2 && f.kind!=3">({{f.kind}})</sub>
                </li>
              </ul>
            </div>

            <div class="row">
              <h5>Raw</h5>
              <pre ng-bind="symbol.raw_data"></pre>
            </div>
          </div>

          <div class="col s4">
            <div class="row input-field">
              <div class="col s8">
                <input id="symName" type="text" ng-model="symbol.name" disabled>
                <label for="symName">Name</label>
              </div>
              <div class="col s4">
                <input id="symRef" type="text" ng-model="symbol.reference" disabled>
                <label for="symRef">Reference</label>
              </div>
            </div>
            <div class="row input-field">
              <div class="col s12">
                <input id="symURL" type="text" ng-model="path" disabled>
                <label for="symURL">KCDB URL</label>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
</body>
</html>
